@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #007bff;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*utilidades*/

.container{
    max-width: 120rem;
    margin: 0 auto;
}

/*header*/
.container-hero{
    background-color: var(--background-color);
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}


.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i{
    font-size: 3.3rem;
}

.content-customer-support{
    display: flex;
    flex-direction: column;
}
.container-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.container-logo i{
    font-size: 3rem;
    color: #FF0000;
}
.container-logo h1 a{
    text-decoration: none;
    color:#151515;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing:-1px;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.container-user .fa-user{
    font-size: 3rem;
    color:#151515;
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-cart-shopping{
    font-size: 3rem;
    color:#151515;
    padding-left: 1rem;
}

.content-shopping-cart{
    display: flex;
    flex-direction: column;
    
}

/*navbar*/

.container-navbar{
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: #151515;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #fff;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
   border-radius: 2rem;
   background-color: #fff;
   height: 4.4rem;
   overflow: hidden;
}

.search-form input{
    outline: none;
    font-family: inherit;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0.2rem;
    color: #777;
    cursor: pointer;
    border: none;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i{
    font-size: 2rem;
    color: #fff;
}
/*REGISTRAR*/

.inicio{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(150deg, #3fb1d3,#b3e5fc);
    height: 100vh;
}
.formulario{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #e2e2e2;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .correo{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.correo input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.correo label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size:  16px;
    pointer-events: none;
}

.correo span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.correo input:focus ~ label,
.correo input:valid ~ label {
    top: -5px;
    color: #6C3483;
}

.correo input:focus ~ span::before,
.correo input:valid ~ span::before {
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color:#007bff;
    cursor: pointer;
}
.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #6C3483;
    border-radius: 25px;
    font-size: 18px;
    color: #f9f5f0;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #6C3483;
    transition: .5s;
}
.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #151515;
}
.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}
